extends layout 

block content 
    h1 Edit User Info
    form(method="POST" action=`/user/edit/${user._id}`)
        #form-group 
            label Last Name:
            input.form-control(name="lastName",type="text", value=user.lastName)
        #form-group 
            label First Name:
            input.form-control(name="firstName",type="text",value=user.firstName)
        #form-group 
            label Date Of Birth:
            input.form-control(name="dateOfBirth",type="date", value=user.dateOfBirth.toISOString().split('T')[0])
        #form-group 
            label Address1:
            textarea.form-control(name="address1")
                | #{user.address1}
        #form-group 
            label Address2:
            textarea.form-control(name="address2")
                | #{user.address2}
        #form-group 
            label City:
            input.form-control(name="city",type="text", value=user.city)
        #form-group 
            label Postal Code:
            input.form-control(name="postalCode",type="text", value=user.postalCode)
        #form-group 
            label Country:
            input.form-control(name="country",type="text", value=user.country)
        #form-group 
            label Phone Number:
            input.form-control(name="phoneNumber",type="text", value=user.phoneNumber)
        #form-group 
            label Email:
            input.form-control(name="email",type="text", value=user.email)
        #form-group 
            label User Notes:
            textarea.form-control(name="notes")
                | #{user.notes}
        br
        input.btn.btn-primary(type="submit",value="submit")
        
        
        
